.contact-section {
  background-color: var(--colorSecondary-dkr);

  &__container {
    padding: $padding-10x $container-padding;
    box-sizing: content-box;
  }

  &__title {
    margin-bottom: $margin-7x;
  }

  &__columns-wrapper {
    display: flex;
  }

  &__column {
    position: relative;

    min-height: 200px;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__button {
    width: 280px;
  }
}