html {scroll-behavior: smooth;}

body {
  font-family: $primary-font-family;
  font-weight: $primary-font-weight;
  font-size: $title-font-size-base;

  color: var(--primaryTextColor);

  background-color:  var(--colorSecondary-dkr);
  background-image: url(../img/bg-assets/bg.png);
}

._container {
  max-width: $container-width;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.content {
  flex: 1 1 auto;
}