:root {
  --colorPrimary: #FFCF7A;
  --colorPrimary-lt: #ECCF94;
  --colorPrimary-dk: #F98B4D;
  
  --colorSecondary: #949494;
  --colorSecondary-lt: #757575;
  --colorSecondary-ltr: #6D6D6D;
  --colorSecondary-dk: #232323;
  --colorSecondary-dkr: #121212;
  
  --primaryTextColor: white;
  --colorBlack: #000000;

  --colorPaginationActive: var(--colorPrimary);
  --colorPaginationInactive: #464239;
}