:root {
  --colorWhite: white;

  --balckTextColor: rgba(27, 26, 23, 0.82);
  --whiteTextColor: rgba(255, 255, 255, 0.75);

  --colorBlack: #000000;
  --mainColorBlack: #121212;
  --colorGrey: #949494;

  --colorDarkGrey: #1a1a19;
  --colorOrange: #FFCF7A;
  --colorBeige: #ECCF94;
  --colorTransparent: rgba(255, 255, 255, 0);

  --colorPaginationInactive: #464239;
}
