//--font-face---------------------//
@font-face {
  font-family: 'Lab Grotesque';
  src: local('Lab Grotesque Thin'), local('Lab-Grotesque-Thin'),
    url('../fonts/LabGrotesque/LabGrotesque-Thin.woff2') format('woff2'),
    url('../fonts/LabGrotesque/LabGrotesque-Thin.woff') format('woff'),
    url('../fonts/LabGrotesque/LabGrotesque-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: local('Lab Grotesque Light'), local('Lab-Grotesque-Light'),
    url('../fonts/LabGrotesque/LabGrotesque-Light.woff2') format('woff2'),
    url('../fonts/LabGrotesque/LabGrotesque-Light.woff') format('woff'),
    url('../fonts/LabGrotesque/LabGrotesque-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: local('Lab Grotesque Regular'), local('Lab-Grotesque-Regular'),
    url('../fonts/LabGrotesque/LabGrotesque-Regular.woff2') format('woff2'),
    url('../fonts/LabGrotesque/LabGrotesque-Regular.woff') format('woff'),
    url('../fonts/LabGrotesque/LabGrotesque-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: local('Lab Grotesque Medium'), local('Lab-Grotesque-Medium'),
    url('../fonts/LabGrotesque/LabGrotesque-Medium.woff2') format('woff2'),
    url('../fonts/LabGrotesque/LabGrotesque-Medium.woff') format('woff'),
    url('../fonts/LabGrotesque/LabGrotesque-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: local('Lab Grotesque Bold'), local('Lab-Grotesque-Bold'),
    url('../fonts/LabGrotesque/LabGrotesque-Bold.woff2') format('woff2'),
    url('../fonts/LabGrotesque/LabGrotesque-Bold.woff') format('woff'),
    url('../fonts/LabGrotesque/LabGrotesque-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Scania Sans CY';
  src: local('Scania Sans CY  Regular'), local('Scania-Sans-CY--Regular'),
    url('../fonts/ScaniaSansCY/ScaniaSansCY-Regular.woff2') format('woff2'),
    url('../fonts/ScaniaSansCY/ScaniaSansCY-Regular.woff') format('woff'),
    url('../fonts/ScaniaSansCY/ScaniaSansCY-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Scania Sans CY';
  src: local('Scania Sans CY  Bold'), local('Scania-Sans-CY--Bold'),
    url('../fonts/ScaniaSansCY/ScaniaSansCY-Bold.woff2') format('woff2'),
    url('../fonts/ScaniaSansCY/ScaniaSansCY-Bold.woff') format('woff'),
    url('../fonts/ScaniaSansCY/ScaniaSansCY-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Scania Sans CY Headline';
  font-style: normal;
  src:
    url("../fonts/ScaniaSansCYHeadline/ScaniaSansCYHeadline-Regular.ttf") format("truetype"),
}

//--font-family---------------------//
$primary-font-family: 'Lab Grotesque';
$secondary-font-family: 'Scania Sans CY';
$logo-font-family: 'Scania Sans CY Headline';

//--font-weight---------------------//
$primary-font-weight: 400;
$secondary-font-weight: 300;
$tertiary-font-weight: 500;
$quaternary-font-weight: 250;

//--font-size---------------------//
$title-font-size-base: 14px;
$title-font-size-xs: 20px;
$title-font-size-s: 30px;
$title-font-size-m: 40px;
$title-font-size-l: 64px;

$nav-font-size: 13px;

//--default-elemtnts-size---------------------//
$header-height: 50px;
$container-width: 1194px;

//--bg-shadow-image-opscity---------------------//
$bg-shadows-opacity: 30%;
$bg-shadows-opacity-2x: 60%;

//--z-index---------------------//
$bg-shadow-z-index: -1;
$image-z-index: 2;
$block-z-index: 4;
$header-z-index: 100;
$menu-z-index: -10;
$menu-btn-z-index: 10;

//--main-spacing-value---------------------//
$spacing-unit: 10px;

//--PADDING-VALUES---------------------//
$container-padding: 15px;

$padding: $spacing-unit;

$padding-2x: 2 * $padding;
$padding-3x: 3 * $padding;
$padding-4x: 4 * $padding;
$padding-5x: 5 * $padding;
$padding-6x: 5 * $padding;
$padding-7x: 7 * $padding;
$padding-8x: 8 * $padding;
$padding-9x: 9 * $padding;
$padding-10x: 10 * $padding;
$padding-11x: 11 * $padding;
$padding-12x: 12 * $padding;
$padding-13x: 13 * $padding;
$padding-14x: 14 * $padding;
$padding-15x: 15 * $padding;

//--MARGIN-VALUES---------------------//
$margin: $spacing-unit;

$margin-2x: 2 * $margin;
$margin-3x: 3 * $margin;
$margin-4x: 4 * $margin;
$margin-5x: 5 * $margin;
$margin-6x: 5 * $margin;
$margin-7x: 7 * $margin;
$margin-8x: 8 * $margin;
$margin-9x: 9 * $margin;