.carousel-simple {
  position: relative;

  max-width: 537px;
  width: 100%;
  min-height: 346px;

  background-color: var(--colorBlack);

  &__controls {
    width: 63px;

    position: absolute;

    left: 7%;
    bottom: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & :not(:last-child) {
      margin-right: 16px;
    }
  }
}