.refilling-section {
  &__container {
    box-sizing: content-box;
    position: relative;
  }

  &__body {
    display: flex;
    position: relative;
  }

  &__text-wrapper {
    max-width: 442px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & *:not(:last-child) {
      margin-bottom: $margin-2x;
    }
  }

  &__description {
    letter-spacing: 0.01em;
    line-height: 33px;
  }

  &__widget {
    position: absolute;
    left: 60%;
    top: 30%;
    z-index: $block-z-index;
    -webkit-animation: float 2s ease-in-out infinite;
    animation: float 2s ease-in-out infinite;
  }

  &__image-wrapper {
    height: 100%;
  }

  &__bg-shadow {
    opacity: $bg-shadows-opacity-2x;
    position: absolute;
    top: -30%;
    left: -40%;
    z-index: $bg-shadow-z-index;
  }

  &__bg-image {
    max-width: none;
  }

  &__turn-on-wrapper {
    left: 7%;
    bottom: 0%;
    position: absolute;
    z-index: $block-z-index;
  }

  &__turn-on-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__turn-on-icons {
    min-width: 109px;

    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  &__turn-on-text {
    max-width: 210px;
    line-height: 171%;
    letter-spacing: 0.025em;
  }
}