.footer {
  overflow-y: hidden;
  border-top: 1px solid var(--colorSecondary-dk);
  background-color: var(--colorSecondary-dkr);

  &__container {
    padding: $container-padding;
    box-sizing: content-box;
  }

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__column {
    display: flex;

    &_position {
      &_left {
        justify-content: space-between;
      }

      &_right {
        justify-content: end;
      }
    }
  }

  &__link {
    line-height: 129%;
    letter-spacing: 0.05em;
    flex: end;
    color: var(--colorSecondary-ltr)
  }
}