.link {
  transition: 0.25s;
  &:link {
    color: var(--colorGrey);
    background-color: transparent;
    text-decoration: none;
  }
  &:visited {
    color: var(--colorGrey);
    background-color: transparent;
    text-decoration: none;
  }
  &:hover {
    color: var(--colorOrange);
    background-color: transparent;
    text-decoration: none;
  }
  &:active {
    color: var(--colorOrange);
    background-color: transparent;
    text-decoration: none;
  }
}