.advantages-section {
  &__container {
    box-sizing: content-box;
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    max-width: 700px;
    margin-bottom: $margin-2x;

    text-align: center;
  }

  &__description {
    max-width: 550px;
    text-align: center;
    line-height: 165%;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__image-wrapper {
    position: relative;
  }

  &__image {
    transform: scale(1.07, 1.07);
    -ms-transform: scale(1.07, 1.07);
    -webkit-transform: scale(1.07, 1.07);
  }

  &__bg-image {
    position: absolute;
    top: -55%;
    left: 0;
    z-index: $bg-shadow-z-index;
    -webkit-animation: scale-m 2s alternate infinite ease-in-out;
    animation: scale-m 2s alternate infinite ease-in-out;
  }

  &__advantages-wrapper {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__advantage-item {
    font-size: 16px;
    max-width: 262px;
  }
}