.details-section {



  &__container {
    padding: 0 $container-padding;
    box-sizing: content-box;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  minmax(1fr, auto) repeat(2, 1fr);
    grid-column-gap: 120px;
    grid-row-gap: 120px;

    grid-template-areas: "a b";
  }

  &__kit-wrapper {
    position: relative;
    grid-area: a;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__size-wrapper {
    position: relative;
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {}

  &__title {
    font-size: 24px;
    line-height: 150%;
  }

  &__image-wrapper {
    font-size: 14px;
    line-height: 193%;
  }

  &__caption {
    margin-bottom: 30px;
  }

  &__label {}

  &__finishing-wrapper {}


}