.details-section {
  &__container {
    padding: $padding-5x $container-padding;
    box-sizing: content-box;
  }

  &__kit-wrapper {
    grid-area: kit-wrapper;
    padding-top: $padding-4x;
  }

  &__size-wrapper {
    grid-area: size-wrapper;
  }

  &__finishing-wrapper {
    grid-area: finishing-wrapper;
  }

  &__accessories-wrapper {
    grid-area: accessories-wrapper;
  }

  &__grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: 24px;
    line-height: 150%;
  }

  &__image-wrapper {
    line-height: 193%;
    position: relative;
  }

  &__bg-shadow {
    opacity: $bg-shadows-opacity-2x;
    position: absolute;
    bottom: -100%;
    right: 0%;
    z-index: $bg-shadow-z-index;
  }

  &__caption {
    margin-bottom: $margin-3x;
  }
}