.main-section {
  position: relative;
  padding-top: $padding-7x;

  &__container {
    position: relative;
    box-sizing: content-box;
  }

  &__body {
    max-width: 780px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: $block-z-index;
  }

  &__header-wrapper {
    margin-bottom: $margin-3x;
  }

  &__price-wrapper {
    margin-bottom: $margin-8x;
  }

  &__advantages-wrapper {
    display: flex;
  }

  &__advantage-item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 120px;

    &:not(:last-child) {
      margin-right: $margin-6x;
    }
  }

  &__bg-image-fire {
    position: absolute;
    top: -30%;
    right: 5%;

    opacity: $bg-shadows-opacity;
    z-index: $bg-shadow-z-index;

    -webkit-animation: scale-m 1.5s alternate infinite ease-in-out;
    animation: scale-m 1.5s alternate infinite ease-in-out;
  }

  &__bg-shadow-bg {
    opacity: $bg-shadows-opacity;
    position: absolute;
    top: 20%;
    right: 7%;
    z-index: $bg-shadow-z-index;
  }

  &__bg-shadow-square-1 {
    opacity: $bg-shadows-opacity;
    position: absolute;
    top: -50%;
    right: 30%;
    transform: scale(1.2);
    z-index: $bg-shadow-z-index;
  }

  &__bg-shadow-square-2 {
    opacity: $bg-shadows-opacity;
    position: absolute;
    top: -120%;
    left: 45%;
    transform: scale(1.2);
    z-index: $bg-shadow-z-index;
  }

  &__image-content {
    max-width: none;
    position: absolute;
    z-index: -10;
  }
}