.reasons-section {
  &__container {
    padding: $padding-6x $container-padding;
    box-sizing: content-box;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: $margin-4x;
  }
}