.title {
  position: relative;
  text-transform: uppercase;

  &_fill {
    &_gradient {
      background: linear-gradient(240.22deg, var(--primaryTextColor) 31.8%, rgba(255, 255, 255, 0.1) 87.73%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }

    &_color {
      font-weight: $secondary-font-weight;
      color: var(--primaryTextColor);
    }
  }

  &_size {
    &_m {
      // font-size: $title-font-size-m;
      font-weight: $quaternary-font-weight;
      line-height: 150%;
      letter-spacing: 0.07em;
    }

    &_l {
      // font-size: $title-font-size-l;
      font-weight: $quaternary-font-weight;
      line-height: 125%;
      letter-spacing: 0.05em;
    }
  }
}