@-webkit-keyframes scale-m {
  0%   {transform: scale(0.8);}
  100% {transform: scale(1.2);}
}

@keyframes scale-m {
  0%   {transform: scale(0.8);}
  100% {transform: scale(1.2);}
}

@-webkit-keyframes scale-s {
  0%   {transform: scale(1);}
  100% {transform: scale(1.2);}
}

@keyframes scale-s {
  0%   {transform: scale(1);}
  100% {transform: scale(1.2);}
}