.button {
  min-height: 50px;

  padding: $container-padding;

  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: $primary-font-weight;
  text-align: center;

  border-radius: 2px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  transition: all 0.25s;

  &__content {
    z-index: $block-z-index;
  }

  &_color {
    &_orange {
      $color-left: #F98B4D;
      $color-base: var(--colorPrimary);
      $color-right: #FFD9C4;

      color: var(--colorSecondary-dkr);
      background-color: var(--colorPrimary);
      background: linear-gradient(to top right, $color-left 0%, $color-base 50%, $color-right 100%);

      &:hover {
        box-shadow: 0px 0px 50px 0px var(--colorPrimary);
      }
    }

    &_transparent {
      border: 2px solid var(--colorPrimary);
      color: var(--primaryTextColor);

      &:hover {
        box-shadow: 0px 0px 50px 0px var(--colorPrimary);
      }
    }
  }
}