.get-catalog-section {
  &__container {
    padding: $padding-5x $container-padding;
    box-sizing: content-box;
    position: relative;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;

    & :not(:last-child) {
      margin-bottom: $margin-4x;
    }
  }

  &__title {
    font-weight: $secondary-font-weight;
    font-size: 30px;
    line-height: 147%;
    text-align: center;
  }

  &__button {
    min-width: 284px;
    min-height: 62px;

    font-weight: $tertiary-font-weight;
    font-size: 18px;
    text-align: center;

    color: var(--colorSecondary-dkr);
    -webkit-animation: scale-s 1s alternate infinite ease-in-out;
    animation: scale-s 1s alternate infinite ease-in-out;
  }

  &__bg-shadow {
    position: absolute;
    bottom: -30%;
    right: 0%;
    z-index: $bg-shadow-z-index;
  }
}