.get-catalog-section {
  &__container {
    padding: 50px $container-padding;
    box-sizing: content-box;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;

    & :not(:last-child) {
      margin-bottom: 35px;
    }
  }

  &__title {
    font-weight: $secondary-font-weight;
    font-size: 30px;
    line-height: 147%;
    text-align: center;
  }

  &__button {
    min-width: 284px;
    min-height: 62px;
    font-weight: $tertiary-font-weight;
    font-size: 18px;
    text-align: center;
    color: var(--colorSecondary-dkr);
    animation: scale-s 1s alternate infinite ease-in-out;
  }
}