.dash {
  display: inline-block;
  vertical-align:super;

  height: 1px;
  background-color: var(--colorSecondary);

  &_width {
    &_short {
      width: 30px;
    }

    &_long {
      width: 40px;
    }
  }
}