.logo {
  &__text {
    font-family: $logo-font-family;

    line-height: 50px;
    letter-spacing: 0.105em;
    color: var(--primaryTextColor);

    transition: 0.25s;
    text-transform: uppercase;

    &_size {
      &_s {
        font-size: $title-font-size-base;
      }

      &_m {
        font-size: $title-font-size-xs;
      }
    }

    &:hover {
      color: var(--colorPrimary);
    }
  }
}