//--desktop
@media only screen and (min-width: 900px) {
  .advantages-section {
    &__container {
      padding: $padding-12x $container-padding $padding-11x $container-padding;
    }

    &__advantages-wrapper {
      padding: 0 $padding-8x;
      flex-direction: row;
    }
  }
}

//--tablet/mobile
@media only screen and (max-width: 900px) {
  .advantages-section {
    &__container {
      padding: $padding-7x $container-padding $padding-7x $container-padding;
    }

    &__advantages-wrapper {
      flex-direction: column;
      align-items: center;
      padding: 0;

      & :not(:last-child) {
        margin: $margin-2x;
      }
    }
  }
}